@font-face {
  font-family: "Work Sans";
  src:
  url("../fonts/WorkSans-Bold.woff2") format("woff2"),
  url("../fonts/WorkSans-Bold.woff") format("woff"),
  url("../fonts/WorkSans-Bold.ttf") format("truetype");
  font-display: swap;
}
