@use "mixins/media-query" as *;

@use "utilities/colors";
@use "utilities/flow";

@use "fonts";
@use "global";
@use "typography";

@use "components/event";

.showcase-text {
  position: fixed;
  bottom: env(safe-area-inset-bottom, 0);
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--dark-800);
  color: var(--brand-600);
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  z-index: 1;

  @include mq(1400px) {
    background-color: transparent;
  }
}

.background-images {
  display: grid;
  position: fixed;
  top: -3rem;
  bottom: -3rem;
  left: -3rem;
  right: -3rem;
  z-index: -1;
  
  @include mq(1400px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .ksi-profile,
  .all-over-the-place-cover {
    transform: rotateZ(-3deg);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .ksi-profile {
    display: none;

    @include mq(1400px) {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    pointer-events: none;
    background-color: var(--dark-800-95);
  }
}

.page-wrapper {
  touch-action: none;

  @include mq(1400px) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: var(--dark-800);
    }
  }
}

.home-page-wrapper {
  .tour-page-content {
    left: calc(-100% + 1.75rem);
    width: calc(100% - 2.25rem);

    @include mq(1400px) {
      left: -60%;
      width: calc(60% - 3rem);
    }
  }

  .home-page-link {
    right: 100%;

    @include mq(1400px) {
      pointer-events: none;
      right: 60%;
    }
  }
}

.tour-page-wrapper {
  .background-images {
    left: calc(60% - 3rem);
    right: calc(-60% - 3rem);
  }

  .home-page-content {
    right: calc(-100% + 2.75rem);
    position: relative;
    user-select: none;
    pointer-events: none;
    border-top-left-radius: 0.75rem;
    overflow: hidden;
    opacity: 0.6;

    @include mq(600px) {
      right: calc(-100% + 3.5rem);
    }

    @include mq(1400px) {
      right: -60%;
    }
  }

  .tour-page-content {
    width: calc(100% - 3.25rem);

    @include mq(600px) {
      width: calc(100% - 4.5rem);
    }
    
    @include mq(1400px) {
      width: calc(60% - 3rem);
    }
  }

  .home-page-link {
    right: 0;
  }

  .tabs {
    opacity: 0;
    pointer-events: none;
    right: -100%;
    left: auto;

    @include mq(1400px) {
      right: auto;
      left: 60%;
    }
  }
}

.tour-page-content {
  position: fixed;
  top: 0;
  bottom: calc(1.875rem + env(safe-area-inset-bottom, 0));
  background-color: var(--dark-800);
  border-top-right-radius: 0.75rem;
  overflow: auto;
  direction: rtl;

  @include mq(1400px) {
    background-color: transparent;
    border-top-right-radius: 0;
  }

  > ul {
    --spacing: 3rem;

    direction: ltr;
    max-width: 992px;
    margin: 1rem auto;
    padding: 0 1rem;

    @media (min-width: 776px) {
      --spacing: 5rem;

      max-width: 768px;
      margin: 5rem auto;
    }
  }

  .month-year {
    position: sticky;
    top: env(safe-area-inset-top, 0);
    padding: 0.25rem 0;
    z-index: 1;
    background-color: var(--dark-800);
  }
}

.album-logo {
  grid-row: 1;
  grid-column: 1 / -1;
  margin-top: 1rem;

  @include mq(768px) {
    margin-top: 3rem;
  }
  
  svg {
    height: 55px;
    width: 100%;

    @include mq(660px) {
      height: 89px;
    }
  }
}

.home-page-content {
  display: grid;
  height: calc(100vh - 1.875rem);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  place-items: center;

  @include mq(600px) {
    @media (pointer: coarse) {
      grid-template-columns: 1fr 375px;
    }
  }

  @include mq(1400px) {
    grid-template-columns: auto 1fr auto;
  }

  .main-content {
    --spacing: 1.5rem;

    grid-row: 1 / -1;
    grid-column: 1 / -1;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    h1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .pre-order {
      font-size: 0.875rem;
      letter-spacing: 1px;
      
      @include mq(660px) {
        font-size: 1rem;
      }
    }
  }

  .music-services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1rem;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    @include mq(660px) {
      max-width: 640px;
    }
    
    @include mq(768px) {
      max-width: 100%;
      grid-template-columns: repeat(4, 150px);
      gap: 2.5rem;
      justify-content: center;
    }
  }

  .navigation {
    display: none;

    @include mq(1400px) {
      display: block;
      grid-column: 3;
      grid-row: 1 / -1;
    }
  }
}

.not-found-page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  height: calc(100vh - 1.875rem);
}

.not-found-page-content {
  --spacing: 2rem;

  grid-row: 1 / -1;
  grid-column: 1;
  text-align: center;

  a {
    align-items: center;

    span {
      margin-left: 0.5rem;
    }
  }
}

.tabs {
  position: fixed;
  left: 0;
  bottom: calc(1.875rem + env(safe-area-inset-bottom, 0));

  display: flex;
  width: 100%;
  
  @include mq(600px) {
    max-width: 375px;
    
    @media (pointer: coarse) {
      right: 0;
      left: auto;
      background-color: var(--dark-800);
    }

    @media (pointer: fine) {
      margin-bottom: 3rem;
      left: 50%;
      margin-left: -187.5px;
    }
  }

  @include mq(1400px) {
    bottom: 0;
    top: 0;
    left: 0;
    right: auto;
    width: auto;
    margin-bottom: 0;
    margin-left: auto;
    background: transparent;
  }
}

.tour-dates-link,
.tour-dates-link .inner {
  @include mq(1400px) {
    flex-direction: row-reverse;
  }
}

.home-page-link {
  position: fixed;
  bottom: calc(1.875rem + env(safe-area-inset-bottom, 0));
  top: 0;
  width: 2.75rem;
  background-color: var(--dark-950);
  border-top-left-radius: 0.75rem;

  @include mq(600px) {
    width: 3.5rem;
  }

  @include mq(1400px) {
    width: 40%;
    height: 100%;
    bottom: auto;
    background-color: transparent !important;
    display: flex;
    align-items: center;
  }
  
  a {
    width: 100%;
    height: 100%;
    align-items: flex-end;

    @include mq(1400px) {
      align-items: center;
      justify-content: flex-start;
    }
  }

  .text {
    display: none;

    @include mq(1400px) {
      display: block;
    }
  }
}
